@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$primaryColor : #CCBEB1;
$secondaryColor : #F2F1ED;
$baseColor : #FFFFFF;


$primaryBtn : #C1D5DE;
$secondaryBtn :#5A5151;

$link-color:    #CCBEB1;
$link-hover-color:  #C1D5DE;

@mixin flexRules {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  
}

body {
    background-color:#F2F1ED;

}


header {
    @include flexRules();

    background-color:$primaryColor ;
    color: $baseColor;
    button{
        background-color: $primaryBtn;
        &:hover{
            background-color: $link-hover-color;
        }
    }
}

